SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=*

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1

GALAXY_INTERNAL_API_URL=http://localhost:8000
GALAXY_INTERNAL_API_KEY=change-me
AUTOQC_WEBHOOK_SECRET=change-me

GOOGLE_GEMINI_API_KEY=
AUTO_QC_GEMINI_MODEL_NAME=gemini-2.5-flash
LANGFUSE_HOST=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
ENVIRONMENT=development

PROCX_S3_BUCKET_NAME=reachx-dev-public
PROCX_S3_BUCKET_PATH=self_inspection/
PROCX_S3_BUCKET_REGION=ap-south-1
PROCX_S3_ACCESS_KEY=
PROCX_S3_SECRET_ACCESS_KEY=
